.nav-bar {
    width: 100%;
    margin: 0 auto 30px;
}

.nav-bar .nav-item {
    width: 20%;
}
li.nav-item > a {
    padding: 0;
}
.nav-items > li + li {
  margin-left: 0px;
}
img {
    width: 100%;
}
.nav-items {
    @include clearfix;
}
.nav-items > li {
    width: 20%;
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 1em;
    a {
        color: #1f1a17;
        border-bottom: 2px solid transparent;
        @include transition(all .3s ease-in-out);
    }
    &.avtice > a, > a:hover, > a:focus {
        color: #0D3B0D;
        background-color: transparent;
        border-bottom: 2px solid;
    }
}
.nav-items li a {
    // font-family: $font-family-qingke;
    // font-family: $font-family-serif;
    > span {
        font-size: .7em;
        // font-family: $font-family-serif;
    }
}