<div class="nav-bar">
    <ul class="nav nav-items">
        <li role="presentation" class=""><a href="/">首页<br><span>shǒu yè</span></a></li>
        <li role="presentation" class=""><a href="/neimu">研究所内幕<br><span>nèi mù</span></a></li>
        <li role="presentation" class=""><a href="/dashiji">大事迹<br><span>zhuāng bī</span></a></li>
        <li role="presentation" class=""><a href="/facai">关于发财那点事<br><span>qián qián qián</span></a></li>
        <li role="presentation" class=""><a href="/jiaru">加入饭星人<br><span>shé jīng bìng</span></a></li>
    </ul>
</div>